﻿@using Investigation.Shared.Entities
@using Investigation.WEB.Repositories
@using Investigation.WEB.Shared
@inject IRepository repository
@inject SweetAlertService SweetAlertService
 

<EditForm Model="publicacion" OnSubmit="OnSubmit" ReturnAction="Return">
    <DataAnnotationsValidator/>


    <div class="mb-3">
        <label>Titulo:</label>
        <div>
            <InputText @bind-Value="publicacion.Titulo" />
            <ValidationMessage For="@(()=>publicacion.Titulo)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Autor:</label>
        <div>
            <InputText @bind-Value="publicacion.Autor" />
            <ValidationMessage For="@(()=>publicacion.Autor)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Fecha de Publicacion:</label>
        <div>
            <InputDate @bind-Value="publicacion.FechaPublicacion" />
            <ValidationMessage For="@(()=>publicacion.FechaPublicacion)" />
        </div>
    </div>


    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" onclick="ReturnAction">Regresar</button>

</EditForm>

@code {

    [EditorRequired]
    [Parameter]

    public Publicacion publicacion { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; }

}