@page "/Publicaciones/edit/{Id:int}"
@using System.Net
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>PublicacionEdit</h3>

@if (Publicacion is null)
{
    <p>Cargando...</p>
}
else
{
    <PublicacionForm @ref="PublicacionForm"  Publicacion="Publicacion" OnValidSubmit="Editar" ReturnAction="Return"/>

}


@code {
    [Parameter]
    public int Id { get; set; }
    private Publicacion Publicacion;
    private PublicacionForm PublicacionForm;

    protected override async Task OnParametersSetAsync()
    {
        var responseHttp = await repository.GetAsync<Publicacion>($"api/Publicaciones/{Id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/Publicaciones");
            }
            else
            {
                var messsage = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", messsage, SweetAlertIcon.Error);
            }
        }
        else
        {
            Publicacion = responseHttp.Response;
        }
    }


    private async Task Editar()
    {
        var responseHttp = await repository.PutAsync("/api/Publicaciones", Publicacion);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        PublicacionForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/Publicaciones");
    }

}