@page "/Publicaciones"
@using Investigation.Shared.Entities
@using Investigation.WEB.Repositories
@using Investigation.WEB.Shared
@inject IRepository repository
@inject SweetAlertService SweetAlertService

<h3>PublicacionIndex</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/Investigadores/create">Nueva Publicacion</a>
</div>

<GenericList MyList="Publicaciones">

    <Body>
        <div class="align-items-center">
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Publicaciones</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Publicacion in Publicaciones!)
                {
                    <tr>
                        <td>@Publicacion.Titulo</td>
                        <td>@Publicacion.Autor</td>
                        <td>@Publicacion.FechaPublicacion</td>


                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>

@code {
    public List<Publicacion>?  Publicaciones { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.GetAsync<List<Publicacion>>("/api/Publicaciones");
        Publicaciones = responseHppt.Response!;
    }
}
