﻿@using Investigation.Shared.Entities
@using Investigation.WEB.Repositories
@using Investigation.WEB.Shared
@inject IRepository repository
@inject SweetAlertService SweetAlertService
 

<EditForm Model="Investigadoress" OnSubmit="OnSubmit" ReturnAction="Return">
    <DataAnnotationsValidator/>


    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText @bind-Value="Investigadoress.Nombre" />
            <ValidationMessage For="@(()=>Investigadoress.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Especialidad:</label>
        <div>
            <InputText @bind-Value="Investigadoress.especialidad" />
            <ValidationMessage For="@(()=>Investigadoress.especialidad)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Afiliacion:</label>
        <div>
            <InputText @bind-Value="Investigadoress.afiliacion" />
            <ValidationMessage For="@(()=>Investigadoress.afiliacion)" />
        </div>
    </div>


    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" onclick="ReturnAction">Regresar</button>



</EditForm>

@code {

    [EditorRequired]
    [Parameter]

    public Investigadores Investigadoress { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; }

}